<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <br>
    <div class="person-booking">
        <div class="details">
            <!-- Add details of the person here, such as an image, name, etc. -->
            <img src="/static/1.png" alt="Person Image" class="person-image">
        </div>
        <div class="times">
            <div class="time-column">
                <a href="#" class="time-slot" id="sendData">09:00 AM</a>
                <a href="#" class="time-slot" id="sendData">11:00 AM</a>
                <a href="#" class="time-slot" id="sendData">01:00 PM</a>
                <a href="#" class="time-slot" id="sendData">03:00 PM</a>
                <a href="#" class="time-slot" id="sendData">05:00 PM</a>
                <!-- ... -->
            </div>
            <div class="time-column">
                <a href="#" class="time-slot" id="sendData">10:00 AM</a>
                <a href="#" class="time-slot" id="sendData">12:00 PM</a>
                <a href="#" class="time-slot" id="sendData">02:00 PM</a>
                <a href="#" class="time-slot" id="sendData">04:00 PM</a>
                <a href="#" class="time-slot" id="sendData">06:00 PM</a>
                <!-- ... -->
            </div>
        </div>
    </div>
    <div class="person-booking">
        <div class="details">
            <!-- Add details of the person here, such as an image, name, etc. -->
            <img src="path_to_image.jpg" alt="Person Image" class="person-image">
        </div>
        <div class="times">
            <div class="time-column">
                <a href="#" class="time-slot">09:00 AM</a>
                <a href="#" class="time-slot">11:00 AM</a>
                <a href="#" class="time-slot">01:00 PM</a>
                <a href="#" class="time-slot">03:00 PM</a>
                <a href="#" class="time-slot">05:00 PM</a>
                <!-- ... -->
            </div>
            <div class="time-column">
                <a href="#" class="time-slot">10:00 AM</a>
                <a href="#" class="time-slot">12:00 PM</a>
                <a href="#" class="time-slot">02:00 PM</a>
                <a href="#" class="time-slot">04:00 PM</a>
                <a href="#" class="time-slot">06:00 PM</a>
                <!-- ... -->
            </div>
        </div>
    </div>
    <div class="person-booking">
        <div class="details">
            <!-- Add details of the person here, such as an image, name, etc. -->
            <img src="path_to_image.jpg" alt="Person Image" class="person-image">
        </div>
        <div class="times">
            <div class="time-column">
                <a href="#" class="time-slot">09:00 AM</a>
                <a href="#" class="time-slot">11:00 AM</a>
                <a href="#" class="time-slot">01:00 PM</a>
                <a href="#" class="time-slot">03:00 PM</a>
                <a href="#" class="time-slot">05:00 PM</a>
                <!-- ... -->
            </div>
            <div class="time-column">
                <a href="#" class="time-slot">10:00 AM</a>
                <a href="#" class="time-slot">12:00 PM</a>
                <a href="#" class="time-slot">02:00 PM</a>
                <a href="#" class="time-slot">04:00 PM</a>
                <a href="#" class="time-slot">06:00 PM</a>
                <!-- ... -->
            </div>
        </div>
    </div>
</body>
</html>