<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/static/main.js"></script>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyA8l2Ii4p-fXUA8_nvqH36U-esAKvki3Sk", v: "beta"});</script>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <br>
    <div class="person-booking">

        <!-- prettier-ignore -->
        <div id="map" style="width:100vh"></div>
        <div class="times">
            <div class="time-column">
                <a href="/vid" class="time-slot" id="sendData">09:00 AM</a>
                <a href="/vid" class="time-slot" id="sendData">11:00 AM</a>
                <a href="/vid" class="time-slot" id="sendData">01:00 PM</a>
                <a href="/vid" class="time-slot" id="sendData">03:00 PM</a>
                <a href="/vid" class="time-slot" id="sendData">05:00 PM</a>
                <!-- ... -->
            </div>
            <div class="time-column">
                <a href="/vid" class="time-slot" id="sendData">10:00 AM</a>
                <a href="/vid" class="time-slot" id="sendData">12:00 PM</a>
                <a href="/vid" class="time-slot" id="sendData">02:00 PM</a>
                <a href="/vid" class="time-slot" id="sendData">04:00 PM</a>
                <a href="/vid" class="time-slot" id="sendData">06:00 PM</a>
                <!-- ... -->
            </div>
        </div>
    </div>
    
</body>
</html>