<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GP Dashboard</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js"></script>
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/vidchat.png" alt="vidchat" style="display: block; margin-left: auto; margin-right: auto;">
</body>
</html>